.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border-radius: 999px;
  padding: 13.5px 22px;
  &-primary {
    background-color: $blue;
  }
  &-secondary {
    background-color: $gray400;
    color: $gray900;
  }
  &-danger {
    background-color: $red;
  }
  &:disabled {
    opacity: 0.2;
  }
}
