$red: #ed4c5c;
$green: #00a790;
$light_blue: #43c4e3;
$blue: #16abf8;
$yellow: #ffce31;
$purple: #b01aff;
$white: #ffffff;
$dark100: #111111;
$dark500: #555555;
$gray400: #f4f4f4;
$gray500: #e5e5e5;
$gray800: #888888;
$gray900: #4a4a4a;
